<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php">
	<filter>
		<blacklist>
	        <directory>../vendor/*</directory>
	        <directory>../test/*</directory>
	        <directory>../src/*Exception.php</directory>
	        <directory>../src/*Interface.php</directory>
	    </blacklist>
	    <whitelist>
	        <directory>../src/*</directory>
	    </whitelist>
	</filter>
    <testsuites>
        <testsuite name="thumbnailer">
            <directory>./ThumbnailerTest</directory>
        </testsuite>
    </testsuites>
</phpunit>